<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Movies proyect</title>
</head>
<body>
    <div class="layout">

        <header class="header">
            <h1>My movies</h1>
        </header>

        <nav class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <section class="content">
            <article class="movie">
                <h3 class="Tittle">Harry Potter</h3>
                <p class="Description">Description</p>
                <button class="Edit">Edit</button>
                <button class="Delete">Delete</button>
            </article>
        </section>

        <aside class="aside">

            <div class="search">
                <h3>Search a movie</h3>
                <form action="">
                    <input type="text">
                    <button>Search</button>
                </form>
            </div>

            <div class="add">
                    <h3>Add a movie</h3>
                    <form action="">
                        <input type="text" placeholder="Tittle">
                        <textarea name="" placeholder="Description"></textarea>
                        <input type="submit" name="" id="">
                    </form>
            </div>

            <footer>
                &copy; Movies proyect Master in JS - <a href="#">Web site</a>
            </footer>
        </aside>
    </div>
</body>
</html>