body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(40, 42, 42);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.content{
  margin: 2%;
  background-color: #1c1c1c;
  min-height: 400px;
  padding: 2%;


}

.content h3{
  font-size: 40px;
  margin: 0;

}

.content .form{
  width: 20%;
  margin-top: 3%;
}


.form input[type="text"],input[type="email"],  textarea{
  border: none;
  display: block;
  width: 100%;
  background-color: #23223300;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 20px;
  padding: 5%;
  margin-right: 0;
}

.form input[type="submit"]{
  border: none;
  font-size: 20px;
  outline: 0;
  font-weight: bold;
  width: 20%;
  justify-content: flex-end;
  background-color: #05041100;
  color: white;
  margin-top: 5%;
  margin-left: 80%;
  transition: all 300ms;
  cursor: pointer;
}

.form input[type="submit"]:hover{
  color: #159191;
  scale: 1.1;
}

.send{
  font-size: 60px;
  color: green;

}

.div h4{
  font-size: 60px;
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #159191;
  padding-left: 2%;
}

.header nav{
  display: flex;
  justify-content: flex-end;
  margin-left: 62%;
}
.header nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header nav li{
  display: flex;
  align-items: center;
}
.header nav a{
  margin-right: 20px;
  text-decoration: none;
}

.header nav a:hover{
  font-weight: 650;
  color:#1c1c1c;
}


.activated{
  color:#1c1c1c;
  font-weight: 650;
}

.nonActivated{
  color: white;
}
